*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    background: #081b29;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin:10px 10px;
  
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
   
}
.logo a{
    transition: 1s;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.logo img{
    height: 40px;
  
}




.side_links{
    /* background-color: #3b5998; */
    display:flex;
    justify-content:center;
    gap : 20px;
    /* margin:5px 20px; */
}
.dev{
    display: inline-flex;
    position: sticky;
    padding: 9px;
    text-decoration: none;
     font-size: 20px;
     font-weight: bold;
    transition: 1s;
    color: #fff;
   
    
}

.dev:hover{
    color: darkcyan;
    /* border: 2px solid blue; */
   
}
#logolink{
    transition: 1s;
}
#logolink:hover{
    color: darkcyan;

}

.main{
    height: 290vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
   /* margin-top: 20px; */
    /* background-color: aquamarine; */
   
}


.img_container{
   background-image:url(black_sky.avif);
     background-attachment: fixed;
     
    width: 90%;
    height: 90vh;
   
}
.img_container img{
    width: 90%;
    height: 100%;
 
}
.content{
    margin-top: 20px;
    width: 80%;
    height: 150vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    /* background-color: yellow; */
    
}

.content p, li,h3{
    color: darkgrey;
    font-size: 1.3rem;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.content h2{
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
}
ul{
    margin-left: 20px;
    line-height: 50px;
}
.img_section{
    /* background-color: #fff; */
    
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.img_slider{
    /* border: 0 5px solid darkcyan; */
    /* border-radius:  50px; */
    height:431px;
    width: 65%;
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    /* background-color: #f51743; */
}

.imgslider{
    border: 5px solid darkcyan;
    /* border-radius: 50px; */
       width: 100%;
      height: 393px;
      bottom:5px solid #dd4b39;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color: orangered;
    
}
.carousel-indicators{

    margin: 0;
    padding: 0;
}
   

.youtube_videos{
    width: 100%;
    height:170vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.heading{
    width: 460px;
    /* height: 70px; */
    /* background-color: orange; */
}
.video_heading {
    font-size: 1px;
    font-weight: bold;
  
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 1px solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    190% {
      border-color: orange;
    }
  }

.videos{
    width: 100%;
    height: 80%;
    /* margin: 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    /* background-color:orange; */
}


.vid1 {
    width: 65%;
    height: 50%;
    /* background-color: green; */
}
.vid1 iframe{
    width: 100%;
    height: 100%;
    border: 5px solid white;
}
.vid2{
    /* background-color: blue; */
        width: 65%;
        height: 50%;
   
}
.vid2 iframe{
    width: 100%;
    height: 100%;
    /* border: 5px solid darkcyan; */
    border: 4px solid white;
}
.youtube_videos h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}
footer{
    background-color: rgba(0, 139, 139, 0.233);
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footer_content{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
.partner,.Resources{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_content a {
    color: darkgray;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;

}
span{
    font-size: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}
.footer_content a:hover{
    color: darkgreen;
    text-decoration: underline;
}

 .social{
  
    width: 250px;
    height: 40px;
    /* background-color: yellow */
}
.social ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.social li{
    color: black;
}


.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover{
    color: #ddd;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin: 20px;
    padding-left: 25px;
}

.fb:hover{
    color: #3b5998;
    background-color: #fff;
}

.google:hover{
    color: #dd4b39;
    background-color: #fff;
}

.insta:hover{
    color: #f51743;
    background-color: #fff;
}

.twitter:hover{
    color: #00aced;
    background-color: #fff;
}
.github:hover{
    color: black;
    background-color: #fff;
}





/* @media(min-width:320px) and (max-width:426px){
    .main{
        height: 543vh;
    }
    .img_section{
        height: 61vh;
    }
    .img_container{
        height: 43vh;
    }
    .img_slider {
        height: 345px;
        width: 97%;
    }
    .imgslider {
        width: 100%;
        height: 312px;
    }
    

.videos{
    width: 100%;
}
.vid1, .vid2{
    width: 97%;
}
footer{
    width: 100%;
    height: 321px;
}
.footer_content span{
    font-size: 15px;
}
.footer_content a{
    font-size: 15px;
}
.social{
 
  width: 100%;
}
.social ul{
    margin: 0 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}
} */



@media(max-width:450px){
    .main{
        height: 424vh;
    }
    .img_section{
        height: 71vh;
    }
    .img_container{
        width: 100%;
        height: 57vh;
    }
    .imgslider{
        height: 366px;
    }
    /* .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */
    .heading{
        width: 328px;
    }
    .youtube_videos h2{
        font-size: 22px;
     
    }
    .partner{
        width: 191px;
        
    }
    .social{
        margin-right: 32px;
    }
    footer p {
        color: #888;
        text-align: center;
        font-size: 90%;
        margin: 3px;
        padding-left: 21px;
     
    }
}


@media (min-width:490px) and (max-width:768px){
    .main{
        height: 321vh;
    }
    .img_container{
        height: 57vh;
        width: 100%;
    }

    /* .img_section{
        height: 71vh;
    }
    
    .imgslider{
        height: 366px;
    } */
    .nav {
        display: flex;
        justify-content: space-between;
        margin: 10px 38px;
    }
}
@media(min-width:1200px){

    .nav{
        display: flex;
        justify-content: space-between;
        margin:10px 10px;
     
    }
    
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        gap: 10px;
       
    }
    .logo a{
        transition: 1s;
        font-size: 28px;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
    }
    .logo img{
        height: 40px;
      
    }
    
    
    
    
    .side_links{
        /* background-color: #3b5998; */
        display:flex;
        justify-content:center;
        gap : 20px;
        /* margin:5px 20px; */
    }
    .dev{
        display: inline-flex;
        position: sticky;
        padding: 9px;
        text-decoration: none;
         font-size: 20px;
         font-weight: bold;
        transition: 1s;
        color: #fff;
       
        
    }
    
    .dev:hover{
        color: darkcyan;
        /* border: 2px solid blue; */
       
    }
    #logolink{
        transition: 1s;
    }
    #logolink:hover{
        color: darkcyan;
    
    }
    

    .main{
        height: 290vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
       margin-top: 20px;
        /* background-color: aquamarine; */
       
    }
    
.img_container{
   background-color: #000000;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.img_container img{
    width: 70%;
    height: 100%;
    
}


}






